@using RecipeBox.Models;
@using System.Collections.Generic;

@{
  Layout = "_Layout";
}

<div class="container">
<h1>Recipe for @Model["recipe"].GetName()</h1>
<h2><b>Rating: @Model["recipe"].GetRating()</b></h2>
<h2>Categories:<ul></h2>
<h3>
@foreach (Category category in @Model["categories"])
{
    <li>@category.GetName()</li>
}
</h3>
<h2>Ingredients:</h2>
<ul>
<h3>
@foreach (Ingredient ingredient in @Model["ingredients"])
{
    <li>@ingredient.GetName()</li>
}
</h3>
</ul>
<h2>Instructions:</h2>
<h3>
@Model["recipe"].GetInstructions()
</h3>

</div>